[2017-08-18 22:08] erickrf opened #3 "Conllu writer"
Do you think writing a CoNLLu writer would be easier starting from your current code? Or should I just start one from scratch?

[2017-08-19 12:22] EmilStenstrom commented on #3
Hi! I’d love to have a writer as part of this package. One thing that would likely make this easier is to reuse the output format from conllu as the input format for the writer you are proposing. Would you be willing to write up a PR?

[2017-08-21 20:41] erickrf commented on #3
Yes, I intend to adapt some of the adhoc code I have and will send a PR.

[2017-08-22 06:35] EmilStenstrom commented on #3
Sounds great! Don't forget to add tests! You can run the existing tests with `python setup.py test` in the cloned directory of this repo.

[2017-12-11 13:18] EmilStenstrom commented on #3
@erickrf Still have that Ad-hoc code laying around?

[2017-12-11 14:30] erickrf commented on #3
I had almost abandoned that project. Now that you mention, I think I can pull something useful out of some code I'm using.

[2017-12-11 16:25] erickrf commented on #3
[Sent PR](https://github.com/EmilStenstrom/conllu/pull/5)

[2017-12-11 16:25] #3 closed

[2017-12-31 16:17] shmilyhh opened #6 "the proper way to perform the parse_tree"
When I use the parse_tree() to get the relationship between each term, it can not show the same format as in your example, instead the output is in one line. Can you help me to get the same format as in your example of parse_tree()? Thanks.

[2018-01-01 09:54] EmilStenstrom commented on #6
Hi @shmilyhh. In my example I have manually added linebreaks to make the output easier to read. Doing this automatically wouldn't work, unless I changed the repr() of my TreeNode to something else.

But I'm guessing what you are looking for is a way to *print* the tree structure. For that, there is a method called print_tree. I've added an example in the bottom of the [README ](https://github.com/

[2018-01-01 10:03] EmilStenstrom commented on #6
I've also updated conllu to 0.6, be sure to use the latest version.

[2018-01-02 14:08] shmilyhh commented on #6
Thank you. That’s what I want. I am appreciated for your help.

[2018-01-02 14:16] #6 closed

[2018-03-18 20:46] jamesqo opened #7 "Fields with HEAD = -1 are excluded from the parse tree"
I'm not sure whether this is intentional, but it's causing problems for my app since I want to include these nodes at root nodes of the parse tree. Simply doing `contents.replace('-1', '0')` won't do it since I only want to include particular nodes based on their `upostag` field.

The problematic line is this: https://github.com/EmilStenstrom/conllu/blob/master/conllu/parser.py#L83. `'-1'.isdigit(

[2018-03-20 13:29] #7 closed

[2018-04-30 15:33] fighting41love opened #10 "Is there any way to find the shortest path among two TreeNodes?"
The TreeNode is an OrderedDict.
Question: Is there any way to find the shortest path among two TreeNodes?
Thanks!

[2018-04-30 18:46] EmilStenstrom commented on #10
Hi! There's currently no way to do that. The code for the TreeNode is extremely bare-bones, you can find it here: https://github.com/EmilStenstrom/conllu/blob/master/conllu/tree_helpers.py

If you have a common enough use-case for this, that I have missed, I would be happy to include it in the library.

[2018-05-20 17:37] #10 closed

[2018-06-23 15:58] palandlom opened #12 "AssertionError: node not TreeNode <class 'list'>"
I've got the error in `print_tree()` :
[code]
... on the following part of data:

[code]

[2018-06-23 18:55] EmilStenstrom commented on #12
Hi! Thanks for the excellent bug report, I'll have a look and see if I can fix it.

[2018-06-23 21:08] EmilStenstrom commented on #12
Oh. parse_tree returns a LIST of trees, since one conllu file usually containst multiple sentences. So the error message means you should send in one tree at a time, not the full list. This should therefore work:

[code]

**But**, since I've named the method badly (should be "parse_trees", plural), it makes sense to use print_tree as you did. So I've released a new version of conllu to PyPI that a

[2018-06-24 12:07] palandlom commented on #12
Thank you for quick answer and clarification.

[2018-06-24 12:07] #12 closed

[2018-08-06 19:42] DeNeutoy opened #15 "undocumented breaking change from 0.1 to 1.0"
Thanks for the exceptional library - just wanted to note a breaking change we ran into which wasn't documented:

https://github.com/EmilStenstrom/conllu/blob/master/conllu/parser.py#L117

Previously I was relying on float `id` values being parsed as `None`, which occurs for words which have been elided in the text, but automatically reconstructed in the annotations. This line now parses the id as

[2018-08-07 08:10] EmilStenstrom commented on #15
Thanks for this gotcha, I'm sure it will help someone else upgrade. I've added documentation of this to the [migrations document in the wiki](https://github.com/EmilStenstrom/conllu/wiki/Migrating-from-0.1-to-1.0#parsing-of-ids-now-include-ranges-and-decimals). I opted for another fix, to check the that the id is an integer (all other types are tuples), but I think it does the same as checking the

[2018-08-07 08:10] #15 closed

[2018-09-13 17:38] bryant1410 opened #18 "TokenList could inherit "list""
Hey. I have found this library quite useful. There is a suggestion that I ran into: `TokenList` could maybe inherit `list`, and so be treated like that.

I tried manipulating the sentences (TokenLists) as if they were lists, such as using `len` but then I saw they weren't. I thought about adding `__len__`, but I think it's more appropriate to make them lists, so they natively support other things

[2018-09-13 17:47] EmilStenstrom commented on #18
Hi @bryant1410! This sounds like an interesting idea. I'd say TokenList is an extension to a list, so inheriting from there feels natural.

I'm definitely open to a PR making this happen! Please make sure no tests fail if you try it, you can just type `tox` in the root directory after cloning to run all the tests.

[2018-09-13 17:55] EmilStenstrom commented on #18
Oh, and I'd like this lib to be open to people that are [not "guys"](https://subfictional.com/language-matters-stop-using-guys-to-address-mix-gender-groups/) too :)

[2018-09-13 18:00] bryant1410 commented on #18
Oh, didn't know "guys" is only males.

[2018-09-15 09:27] #18 closed

[2019-02-17 09:50] Shimorina opened #21 "parse_tree with decimal points and integer ranges"
Hello,

In the latest version (1.2.1), `parse_tree` doesn't work properly if a sentence contains ids with integer ranges or decimal points.

[code]
outputs
[code]

[2019-02-17 11:50] EmilStenstrom commented on #21
Hi! This is a change from how the previous version of conllu worked, and not something that I consider a bug. What would you expect to get as an id in the case of a range or decimal point in the ID?

Here's a testcase that ensures I don't change this behaviour in the future: https://github.com/EmilStenstrom/conllu/blob/master/tests/test_parser.py#L145

[2019-02-17 12:07] Shimorina commented on #21
Thanks for your answer.

My point is that when you do `parse_tree` from that sentence, I would expect to get the tree root with its children: `TokenTree<token={id=26, form=rapporté}, children=[...]>`, but it returns only one node without any children. That's the usual behaviour if you feed a sentence with normal ids.

I'm completely okay how those ids are treated if you do a simple `parse()`.

[2019-02-17 12:17] EmilStenstrom commented on #21
Oh, I see what you mean! Great find, that's definitely something that I'll have to fix.

[2019-02-17 12:55] EmilStenstrom commented on #21
Ah, found a simple fix. I simply filter out all the range and decimal nodes before building the tree. I'm guessing people building a tree are uninterested in those nodes anyway.

I've released a new version to PyPI which includes this fix, 1.2.2: https://pypi.org/project/conllu/

Thanks again for your reporting this bug, appreciate it!

[2019-02-17 14:12] Shimorina commented on #21
Thanks for handling the problem with the incredible speed!

I agree that those additional nodes can be ignored while building a tree.
Tack så mycket!

[2019-02-17 14:12] #21 closed

[2019-03-14 13:11] ruathudo opened #23 "Parsing error: Invalid line format, line must contain either tabs or two spaces"
Try this dataset: https://github.com/ufal/rh_nntagging/tree/master/data/ud-1.2/en

I got the error when parsing:

`ParseException: Invalid line format, line must contain either tabs or two spaces.`

[2019-03-14 13:27] ruathudo commented on #23
Never mind, it is my mistake!

[2019-03-14 13:27] #23 closed

[2019-03-14 14:49] EmilStenstrom commented on #23
@ruathudo Thanks for closing the issue when you discovered the error. Just for reference, would you mind writing down what the error was, so that someone else with the same problem might solve their own problem?

[2019-03-17 11:11] EmilStenstrom opened #25 "Singletons in MISC gets removed"
From [Reddit](https://www.reddit.com/r/linguistics/comments/92wqh8/python_library_for_parsing_universal_dependencies/)

[2019-03-17 11:17] EmilStenstrom opened #26 "Make parsing faster for large CoNLL-U files"
From [Reddit](https://www.reddit.com/r/linguistics/comments/92wqh8/python_library_for_parsing_universal_dependencies/)

[2019-03-17 11:52] EmilStenstrom commented on #26
This comment must have been on an old version of conllu, the latest versions parses this file in about a second. Using parse_incr very little memory is used too.

Benchmark script (using Python 3.7):

**Using parse() (which reads the whole file in memory before parsing):**
[code]

[code]

**Using parse_incr() (which only keeps one sentence at the time in memory):**
[code]

[code]

[2019-03-17 11:52] #26 closed

[2019-03-17 12:20] #25 closed

[2019-08-05 12:30] EmilStenstrom opened #27 "Handle elided and range tokens in deps"
This example from AllenNLP returns deps as a string, as `5:conj:and|8.1:nsubj:pass|9:nsubj:xsubj`.

[code]

[2019-08-05 12:31] EmilStenstrom commented on #27
Also: deps to elided tokens?!

[2019-08-10 08:15] EmilStenstrom commented on #27
Fixed in https://github.com/EmilStenstrom/conllu/commit/32c38a5d992930444293cf80cab5226195c88be1

[2019-08-10 08:15] #27 closed

[2019-08-11 18:19] EmilStenstrom commented on #7
Hi again. I'm not sure if you are using conllu any longer, but I've decided to remove negative nodes when building a tree again. Looking at how people use negative nodes, they seem to be used to indicate that a token should NOT be included, so I've decided to make conllu do that too. If you want to restore the old behaviour, add the nodes you want in the tree back manually, by appending to root.ch

[2019-08-12 08:06] EmilStenstrom opened #29 "Feature: Add filter() method of TokenList that returns a subset of nodes"
Idea: Use an API that is similar to Django's, where you can write `data.filter(id__gt=3)` and get all nodes with an ID greater than 3. `data.filter(form="the", head=2)` would return all nodes with both of those properties set.

[2019-09-16 16:59] Stormur opened #30 "CoNLL and sentence headers"
Since the two formats are nearly identical, can this script read CoNLL? I get errors, probably because the format does not match exactly.

Could it also read CoNLLU formats where metadata (#-prefixed lines) are missing?

[2019-09-16 19:28] EmilStenstrom commented on #30
Can you post a relevant test case here so I can see what errors you get?

Also, did you see the TestParseConllu2009 test case? https://github.com/EmilStenstrom/conllu/blob/master/tests/test_integration.py#L175

[2019-09-17 12:30] Stormur commented on #30
OK, sorry for the dumb question, what can I do with it?

The file has a list of sentences in the following format:

[code]

The parse_incr works, but parses a single sentences from the first to the last token of the file (it gives a length of 257918, the file weighs around 13MB).

parse_tree_incr:

[code]

parse_tree:

[code]

But if I write myself a small script for reading the file ignoring "hea

[2019-09-18 04:51] EmilStenstrom commented on #30
Since the problem seems to be the spacing between the sentences, I would need to see what separator CoNLL uses too. Could you post an example of this? I'm trying to decide if it similar enough to include in this library or not.

[2019-09-18 09:46] Stormur commented on #30
They are really the same, maybe only the type and amount of "headers" (as I am calling sentences introduced by `#`) vary, but the difference is only in the information that you put in each field. I am regularly changing file names from `.conll` to `.conllu` and viceversa to suit the needs of different programs or algorithms.

Also, the reader should probably be insensible to the spacing between se

[2019-09-18 14:33] EmilStenstrom commented on #30
Thanks for a good example! I'll have a look in the coming weeks and see if this is something that is fixable as part of this library or not!

[2019-09-20 05:55] #30 closed

[2019-09-20 05:59] EmilStenstrom commented on #30
Ok, so I've tested that the example above can be parsed with conllu. Here's a testcase using your example: https://github.com/EmilStenstrom/conllu/blob/master/tests/test_integration.py#L236

The `field_parsers`-part is optional, I just wanted to play with getting the feats field as a list.

[2019-09-21 18:38] EmilStenstrom commented on #29
Fixed in c35ad9d261c950948679930adecb565ff632c750.

[2019-09-21 18:38] #29 closed

[2019-09-21 19:41] EmilStenstrom opened #31 "Document `fields` and `field_parsers`"
There are features for handling strangely formatted files. I should document them.

[2019-09-21 19:42] EmilStenstrom opened #32 "Add way to customize metadata parsing, `metadata_parser`?"
Lots of files have strange formats in their metadata. Adding a way to customize that parsing would likely help.

[2019-09-21 19:55] EmilStenstrom opened #33 "Consider supporting CoNLL-U Plus"
More info available here: https://universaldependencies.org/ext-format.html

[2019-09-21 20:08] EmilStenstrom commented on #32
What is a good API for this? Questions:

- Should there be just one parser per sentence? field_parsers are made to be one **per column**, so I'm not sure what people would expect here. Having one parser for all comment lines would make it possible to correlate things between multiple lines. I've never seen comments that would benefit from that, but would love to know if those cases exist...
- Shou

[2019-09-22 14:36] flennic opened #34 "Column 'deps' is not being parsed most of the time"
Given the following sentence:

[code]

The code at `parser.py:152` looks like this:

[code]

Is seems like the definition of `MULTI_DEPS_PATTERN` is not correct. Most `deps` values are returned as strings instead of a list of tuples, because the parsing fails. For example `'1:compound|6:ARG1|9:ARG1'` is considered bad, but according to [the specification](https://universaldependencies.org/format.h

[2019-09-22 14:42] flennic commented on #32
For the comments, my idea is the following:

Have one default parser that works according to specification. In addition, let the user also supply a custom parsing function for the comment fields. The user can choose, if he wants to have his custom parser instead of, before or after the default parser tried to process the line.

In my opinion that should add enough flexibility as a start.

Or maybe

[2019-09-22 15:10] EmilStenstrom commented on #34
Thanks for a great bug report!

Looking at the specification, and the values seem to be specified under [Syntactic Annotation](https://universaldependencies.org/format.html#syntactic-annotation):

Maybe I'm reading this wrong, but "ARG1" has uppercase letters and numbers, so doesn't conform to the above format?

I would be fine however to add support for uppercase and number in that regex. I don't

[2019-09-22 15:16] flennic commented on #34
Hej Emil,

you are right, the specification does not support capitalized letters. Somehow I didn't read that part, shame on me! As you started the project I think it is up to you if you want to "strictly" follow the specification or if you want to allow "small" differences for more usability.

If your answer is yes, i am happy to create a PR for this. Let me know your answer.

flennic

[2019-09-22 15:54] EmilStenstrom commented on #34
I’m fine with allowing more than the specification does!

[2019-09-22 16:01] EmilStenstrom commented on #32
Check! :)

Mind you, there might be non-male users using conllu too... 👍

I'm thinking that "instead of" would be enough for most users? That's how field_parsers work today: you replace the builtin functionality with your own. Do you have some use-case where this wouldn't work?

How would you know that a parser failed though? Today all parsers fall back to just returning the string if it doesn't m

[2019-09-22 16:28] flennic commented on #32
When referring to he in that context, I always mean the generic he, which, of course, includes non-males. It is by no means meant in any contemptuous way. I personally just don't like writing "he and she" every time. I know some disagree with me on this.

Hm, I think in the end it will always work, but for example the use case I had [previously](https://github.com/flennic/conllu/commit/ca93d893a51

[2019-09-22 18:34] EmilStenstrom commented on #33
The CoNLL-U Plus format has column definitions as metadata:
[code]

Could we use these fields to parse non-standard sentences without having to specify any fields when parsing?

[2019-09-22 19:43] EmilStenstrom commented on #32
Thanks for your thoughts! Here's an example of how it could work:

Given this metadata before a sentence:
[code]

The default parser would have specific parsers for "global.columns", "newdoc id",  "newpar id",  "sent_id",  "text",  "text_[LANGAUGE]". Any file which just uses those standard fields would get parsed as:

[code]

But say you wanted the global.columns field be parsed into a list instea

[2019-09-23 18:39] flennic commented on #32
Seems like a good idea to me, also having a "fallback" metafield sounds useful!

[2019-09-26 07:50] flennic commented on #34
I've not forgotten to create the PR, will do it as soon as I have time for it, probably the weekend or in the beginning of next week.

[2019-09-26 18:37] EmilStenstrom commented on #34
No rush, we’re all working on our free time!

[2019-09-30 04:43] #34 closed

[2019-10-05 14:03] #31 closed

[2019-10-05 14:03] #32 closed

[2019-10-06 05:40] EmilStenstrom commented on #32
This is now released, and part of the latest version of conllu! I also wrote some documentation that you can read about how to customize parsing to your liking: https://github.com/EmilStenstrom/conllu#customizing-parsing-to-handle-strange-variations-of-conll-u

[2019-10-06 05:40] EmilStenstrom commented on #31
This is now documented here: https://github.com/EmilStenstrom/conllu#customizing-parsing-to-handle-strange-variations-of-conll-u

[2019-10-06 07:30] EmilStenstrom commented on #33
Fixed in 1f460a8

[2019-10-06 07:30] #33 closed

[2019-10-07 19:12] flennic commented on #32
Thank your very much, that's a very neat implementation! :)

[2020-01-21 08:04] goodmami commented on #23
I just had the same problem, and for me the issue was I was passing an open file to `parse()` instead of a string. That is:

[code]

Hope that helps someone else!

[2020-01-21 09:37] EmilStenstrom commented on #23
@goodmami Ah, that is an easy mistake to make. Thanks for posting!

[2020-01-21 16:10] Jbar-ry opened #36 "Special handling of "0:root" labels in deps column"
I recently upgraded from conllu 1.3.1 to 2.2 due to the latter version's ability to deal with elided tokens/copy nodes (e.g. token 8.1 below) which was addressed in https://github.com/EmilStenstrom/conllu/issues/27.

I am parsing the `deps` column and have a loop which iterates over the `deps` tuples to put the heads into a heads list and the relations into a relations list. The upgrade now includ

[2020-01-21 18:52] Jbar-ry commented on #36
I was able to override this behaviour by changing: https://github.com/EmilStenstrom/conllu/blob/68199a7afcbf66660aec09bab5b0a2b995937dd6/conllu/parser.py#L173

to `ID_SINGLE = re.compile(r"[0-9][0-9]*")`

This enables a match here: https://github.com/EmilStenstrom/conllu/blob/68199a7afcbf66660aec09bab5b0a2b995937dd6/conllu/parser.py#L201

allowing the value to be returned in the tuple format.

It

[2020-01-21 19:07] EmilStenstrom commented on #36
@Jbar-ry Excellent catch, thanks for reporting it! It's definitely a bug, I'll think of a good way to solve it and release a new version soon!

[2020-01-21 19:11] Jbar-ry commented on #36
Thank you very much @EmilStenstrom!

[2020-01-21 19:35] EmilStenstrom commented on #36
@Jbar-ry Thank you! I just released 2.2.1 with fixes this bug! Install it with `pip install -U conllu`.

[2020-01-21 19:35] #36 closed

[2020-01-21 19:43] Jbar-ry commented on #36
Thanks a lot @EmilStenstrom!

[2020-02-04 17:24] kawu opened #37 "Support for unstructured comments"
According to the [format specification](https://universaldependencies.org/format.html#paragraph-and-document-boundaries), comments such as `# newdoc` should be allowed.  However, when I try to parse and serialize the following text:
[code]
serialization throws the `TypeError: must be str, not NoneType` exception.  Parsing works fine, I'm able to retrieve the metadata for the sentence above:
[code]

[2020-02-04 21:17] EmilStenstrom commented on #37
@kawu Thanks for reporting! This is an error on my part.

I've fixed the problem, added tests so it can't happen again, and released a new version to PyPI: https://pypi.org/project/conllu/2.2.2/

[2020-02-04 21:17] #37 closed

[2020-02-04 21:18] EmilStenstrom commented on #37
Here's the code that fixes the error: https://github.com/EmilStenstrom/conllu/commit/626de1dd1bb927ef4e8a852d706fda7281d818d4

[2020-02-04 23:50] kawu commented on #37
That was quick, thank you @EmilStenstrom!

[2020-03-10 13:37] mdelhoneux opened #40 "Enhanced dependencies fail"
I found a new case where the regular expression for parsing enhanced representations fails in the Arabic training set, see https://github.com/mdelhoneux/conllu/blob/cfc45fb5e52e4fe714472a2002464db4c6876cec/tests/test_parser.py#L477, I have not yet managed to fix this without breaking other tests.

[2020-03-10 15:22] EmilStenstrom commented on #40
Thank you! I'll have a look when I have time.

More generally: Are you going through all languages and parsing them with conllu? Seems like something I should do myself to ensure compatibility with the format :)

[2020-03-10 15:40] mdelhoneux commented on #40
The languages for which there are enhanced dependencies, yes (as part of the iwpt 2020 shared task: https://universaldependencies.org/iwpt20/). Thanks!

[2020-03-14 07:48] EmilStenstrom commented on #40
@mdelhoneux Thanks again! I managed to fix this in https://github.com/EmilStenstrom/conllu/commit/5d4df35cd1900e42e093f38e5f5d9cb813ad1993

I haven't had the time to parse through all the iwpt 2020 datasets, so feel free to add more failing tests if you find any!

[2020-03-14 11:59] #40 closed

[2020-03-16 17:37] Jbar-ry commented on #40
My script was failing for the treebanks `ar_padt` and `ta_ttb`. Since installing this latest version, my dataset reader can parse both of these treebanks now. Thanks both for your help!

[2020-03-17 14:02] EmilStenstrom commented on #40
@Jbar-ry Great to hear! Let me know if there are more issues you encounter!

[2020-08-10 17:00] davidatbu opened #42 "A PEP 561 compliant package"
First off, thanks for this package. The API on the README looks great. Can't wait to dig in.

I've forked this repo and will add type annotations to every part that I will make use(most likely all the `.py` files in the root dir).

If you'd like I can submit a PR to merge those type annotations back in(and this repo can be PEP 561 compliant).

[2020-08-10 20:10] EmilStenstrom commented on #42
Hi! YES, I would definitely like to have type annotations as part of this package.

The only thing I have to think about is Python 2.7 support.

Options:

- Adding types as comments for old Python and new Python
- Adding types for new Python, and somehow converting them to comments for old Python
- Adding types as stub files (easy to forget)
- Dropping support for old Python

I’m leaning towards t

[2020-08-11 02:35] davidatbu commented on #42
If you do end up going foward with the last option, have a look at #43 , where I added inline type annotations to eveything except `compat.py` and `tests/`.

Also, expectedly, adding type annotations revealed some (what I believe are) subtle bugs:

[code]

The first one pertains to the fact that `TokenList.metadata` can in fact be a list, not necessarily a dict(the `Addable` thing is my way making

[2020-08-15 07:01] EmilStenstrom commented on #42
@davidatbu I will go forward with dropping support for Python < 3.6. I will do that in a separate step, so if you rebase from that when you're done you should get a working build.

I still have a lot of other commitments, so speed won't be super-fast, but I'll work on it when a have a spare hour between attending to small children :)

[2020-08-29 12:25] #42 closed

[2020-09-08 15:47] hatzel opened #44 "Allow for multiple root nodes"
This is probably not strictly speaking an issue with this library so feel free to close the issue.

While using [ParZu](https://github.com/rsennrich/ParZu) I came across the issue that most outputs define multiple root nodes. Take the example sentence "Ich esse einen Apfel." ("I eat an apple")

ParZu's output for this looks something like this:
[code]
Both the verb and the punctuation claim to be

[2020-09-12 05:12] EmilStenstrom commented on #44
Thanks for posting! I think I'll add your fix to the library. As you say, it's not technically a valid document, but I'd like conllu to be more generous that the spec allows.

[2020-09-12 07:08] EmilStenstrom commented on #44
I just released conllu 4.2 with your additions! https://pypi.org/project/conllu/

[2020-09-12 19:34] hatzel commented on #44
Thanks for the swift response and just this library in general!

[2020-09-12 19:34] #44 closed

[2020-11-28 23:53] jheinecke commented on #44
I still observe a strange thing, possibly linked to this workaround: If there are more than two tokens with head 0 in a conllu sentence and I try to get the upos of the sentence root (the top level one), I get a maximum recursion error.
for example the following script reproduces the error:

[code]

Running it gives the following error message
[code]

[2020-11-29 17:08] jheinecke commented on #44
I had more time to look at the code. If I had used  `print(root.token.get("upos")` the error would not have occured. The problem is the (circular) definition of `MAPPING` in the ` class Token(dict)`  (conllu/models.py:15)
[code]
The `__missing__()` function does not find the key `upos` and tries `upostag`. When it does not find the key `upostag` neither it restarts trying `upos` etc until the Recu

[2020-11-29 17:16] EmilStenstrom opened #46 ""RecursionError: maximum recursion depth exceeded" when accessing "upos""
I still observe a strange thing, possibly linked to this workaround: If there are more than two tokens with head 0 in a conllu sentence and I try to get the upos of the sentence root (the top level one), I get a maximum recursion error.
for example the following script reproduces the error:

[code]

Running it gives the following error message
[code]

_Originally posted by @jheinecke in https://gi

[2020-11-29 17:17] EmilStenstrom commented on #46
Also: https://github.com/EmilStenstrom/conllu/issues/44#issuecomment-735425268

[2020-11-29 17:19] EmilStenstrom commented on #46
@jheinecke Thanks for the research! I'll break this out into a separate issue. That mapping is there to try to be backwards compatible with CoNLL-U version 1. I like to support both versions simultaneously, so I need to find a way to just do one mapping and stop.

[2020-11-29 17:33] jheinecke commented on #46
You could use internally always "upos" (for CoNLL-U v1 and v2 and make only the API accept both ?

[2020-12-09 20:05] EmilStenstrom commented on #46
Thanks for reporting this @jheinecke. This is now fixed in version 4.2.2.

[2020-12-09 20:05] #46 closed

[2021-01-15 09:36] Vimos opened #47 "A special case that requires filter over TokenList id"
For the following example,
[code]
The parsed result will be
[code]

The parsing has no problem. However, in some cases, one may want to use those `id` that is integer.

How about make `TokenList` to support filter those with only integer id?
Like this
[code]

[2021-01-15 10:19] EmilStenstrom commented on #47
@Vimos That's a great idea, I'm 👍 to adding it to conllu.

I don't have much bandwidth to work on it right now, so if you're able to make a PR (preferably with passing tests! :) ) that would speed things up a bit!

[2021-01-15 11:26] Vimos commented on #47
Yes. Sure!

I will make a PR soon! This modification will support `lambda` filters for all fields, I suppose.

[code]

[2021-01-15 11:50] EmilStenstrom commented on #47
@Vimos Great! I think you can minimize the test so only the fields you actually test against are part of the test data. Otherwise looks great!

[2021-01-16 03:58] Vimos commented on #47
I grouped them into `lambda_basic` and `lambda_deep`, the test cases are also simplified.

[2021-01-16 22:03] EmilStenstrom commented on #47
I added a brief section about filtering by lambda in the README, and just released conllu==4.3 that supports this. Thanks for your contribution!

[2021-01-16 22:03] #47 closed

[2021-01-27 11:54] jheinecke opened #49 "Adding new token to existing sentence"
Is it possible to modifiy a parsed Conllu Sentence? I tried to add a new token exploiting the fact that a sentence is a token list:

[code]

Maybe this is not the best practice? (I haven't found any information, though)
But doing it this way the final output is incorrect, since my new token 4 was initialized only with id, form, head and deprel:

[code]
Shouldn't `Token()`  initialize all fields wi

[2021-01-27 19:47] EmilStenstrom commented on #49
Hi @jheinecke,

You are right that the documentation in this area isn't great. Let me try to add so answers here:

* You are adding tokens the correct way. Since Token is a subclass of dict, you could append a dict directly, but it's probably safer to do it your way.
* The error you get is because you're not specifying all the required fields. Do you have a use-case where you don't want to add all

[2021-01-27 21:14] jheinecke commented on #49
I have a CoNLL-U file where (French)  words like "du" or "au" are correctly split in "de" "le" and "à" "le" but the multitoken word is absent. So I have

[code]

and I want to produce the following

[code]

and for pure laziness I thought it isn't necessary to add empty fields. If you do not want to initialize them. You could add a "_" in the serialisation method to avoid invalid CoNLL-U output?

[2021-01-27 21:35] EmilStenstrom commented on #49
Ah, thanks for the context! That makes a lot of sense. While serializing, I guess we could get the fields from the first token in each tokenlist, and assume the fields will be the same for all tokens in that list. So when we encounter a Token with fewer fields, we could output a "_" as you suggested. Seems like a nice addition.

Is this something you would be willing to add as a PR, preferably wit

[2021-01-28 08:54] jheinecke commented on #49
Cannot promise this, since I have to dive into your code to avoid causing more harm then good ...

[2021-02-06 23:16] EmilStenstrom commented on #49
I'll work on this a bit on and off in the coming weeks. As a first simple step I changed TokenList contructor and tokenlist.append to optionally accept dicts instead of Tokens. It's a small fix, but improves the ergonomics slightly. This is out in conllu 4.3.1. More to come.

[2021-02-13 23:37] EmilStenstrom commented on #49
I finally managed to complete this. I've reworked how this works in version 4.4 of conllu, and documentation is available here: https://github.com/EmilStenstrom/conllu#writing-data-back-to-a-tokenlist

Let me know how this works for you!

[2021-02-13 23:37] #49 closed

[2021-03-02 19:45] abushoeb opened #50 "How to convert a sentence into CoNLL-U format?"
Hi, I'm just wondering if it is possible to get CoNLL-U format for a given sentence something like this:

```s = 'The quick brown fox jumps over the lazy dog.'```

Then something like

```to_conllu(s)```

to produce
[code]

[2021-03-02 20:49] EmilStenstrom commented on #50
Hi @abushoeb! It is possible, just not with this library. conllu only does the parsing of the format, nothing more, nothing less.

The process you are talking about is called 'parsing', and it's best done with a NLP library like udpipe, spacy, or stanza. Which one will work best for you depends.

[2021-03-02 20:49] #50 closed

[2021-03-18 12:48] LeprechaunSN commented on #23
I've got the following error:
conllu.exceptions.ParseException: Can't create TokenList, no data sent to constructor.

Hope that helps someone else!

[2021-03-18 13:43] EmilStenstrom commented on #23
@LeprechaunSN What code where you trying to run?

[2021-03-18 22:03] LeprechaunSN commented on #23
@EmilStenstrom Code from documentation:
data = """
# text = The quick brown fox jumps over the lazy dog.
1   The     the    DET    DT   Definite=Def|PronType=Art   4   det     _   _
2   quick   quick  ADJ    JJ   Degree=Pos                  4   amod    _   _
3   brown   brown  ADJ    JJ   Degree=Pos                  4   amod    _   _
4   fox     fox    NOUN   NN   Number=Sing                 5   n

[2021-03-18 22:29] EmilStenstrom commented on #23
@LeprechaunSN I need a full example file, preferably as a runnable .py file to help you troubleshoot this. The code from the documentation is run each time I run the tests, and tests are passing. So there's something else going on with how you are sending the data to the parse method.

[2021-06-25 07:57] plefebvre91 opened #52 "Add a `__next__()` method to `TokenList` ?"
Hi,

Maybe adding a `__next__()` method to the `TokenList` type could be interesting. Currently when the TokenList is transformed into an iterator with `iter()`, `next(my_list)` returns only the first element of the tuple (`id`/`form`/`lemma`/etc.).

[2021-06-25 12:18] EmilStenstrom commented on #52
Hi! Yes, this would be a nice addition! Would you mind contributing a patch? Preferably with tests :)

[2021-06-29 09:39] plefebvre91 commented on #52
Oups, I probably got a bit confused, it seems it already do the job :confused:  (The unit test I was writing was OK before I wrote the code :expressionless: ).

[2021-06-29 09:39] #52 closed

[2021-06-29 21:56] EmilStenstrom commented on #52
That’s a good thing!

[2021-07-08 13:14] arademaker opened #53 "CoNLL-U Plus: Retain global.columns when slicing"
Do you have plans to support the https://universaldependencies.org/ext-format.html?

[2021-07-13 21:56] EmilStenstrom commented on #53
It is supported! Are you missing something?

[2021-07-13 21:59] EmilStenstrom commented on #53
And to answer your next question: all that not in comments are available in the metadata attribute of a sentence: https://github.com/EmilStenstrom/conllu

CoNLL-U also supports specifying columns as a comment, and this is also supported.

[2021-07-15 15:11] arademaker commented on #53
Thank you. Not sure if I understood the second point. columns as a comment?

Regarding the conllup format:

[code]

The `global.columns` should have to be propagated to all the sentences in the file, right?

[2021-07-15 15:19] arademaker commented on #53
I mean, in the current version, If I open an conllup and serialize a subset of the sentences, I need to introduce the metadata in the first sentence myself. In the code below, the final `lixo.conllup` does not contain the `global.columns`...

[code]

[2021-07-15 21:49] EmilStenstrom commented on #53
@arademaker Oh, right, good catch. That does look like a bug. global.columns should set attributes on document level, not on sentence label. This should be fixed.

If you are able, I'd love to see a PR that fixes this, if not, I'll leave this open and get to it as soon as I have a moment of hacking time available! :)

[2021-07-17 09:02] EmilStenstrom commented on #53
@arademaker So looking more into this. I was worried the columns didn't propagate from the first sentence to all other sentences in the same file, but this seems to work fine. What's left is when serializing a subset of a parsed file as you describe above.

I see two ways this could be solved:
* We could introduce a new class that mimics a python list, but that also contains CoNNL-U Plus columns s

[2021-08-03 08:53] bminixhofer opened #54 "Blank line check is not robust"
Thanks for this library!

The check for a blank line:

https://github.com/EmilStenstrom/conllu/blob/70b144beb205ac961d6b43f01bc162e947add9e2/conllu/parser.py#L55

is not robust. I am working with the data from WNUT 2017 (https://noisy-text.github.io/2017/emerging-rare-entities.html) were blank lines are denoted as `\t\n` so it fails. From what I could find, the CONLL Format only specifies "blank l

[2021-08-05 06:11] EmilStenstrom commented on #54
Makes sense to me. I think having the check be line.strip() == “” is clearer still.

Would you mind making a PR?

[2021-08-16 07:01] #54 closed

[2021-08-16 09:16] EmilStenstrom commented on #54
A fix for this was released as part of conllu==4.4.1

[2021-09-21 22:50] arademaker opened #57 "enhanced dependencies"
Read column 9 and make the enhanced dependency graph available?

[2021-09-22 04:21] EmilStenstrom commented on #57
@arademaker Could you elaborate? What’s the need, why do you need it, how would it work?

[2021-09-22 12:57] arademaker commented on #57
Sorry, I just noticed that you already parse column 9 constructing a list of pairs.

[code]

Maybe this is the correct/adequate level of abstraction consistent with the library goals. I was thinking of more methods around the basic data structures: TokenList and TokenTree. For instance, a TokenTree has a token and children fields. The enhanced dependencies suggest a Graph, with few more methods si

[2021-09-30 23:08] Geremia opened #58 "Integrating with NLTK?"
Can `conllu` be integrated with [NLTK](https://www.nltk.org/_modules/nltk/corpus/reader/conll)?
NLTK has a [ConllCorpusReader class](https://www.nltk.org/_modules/nltk/corpus/reader/conll), but [it currently doesn't support CoNLL-U](https://stackoverflow.com/q/66563494/1429450).

[2021-10-01 06:19] EmilStenstrom commented on #58
@Geremia I think that should be possible, though with some work to map between the two formats. The output of conllu is much simpler than the NLTK version. Is there an example somewhere on how that ConlluCorpusReader class is used? How are you using it?

[2021-10-01 08:18] EmilStenstrom commented on #57
Hi again,

I think this is a too advanced use-case for conllu. I think the easiest way forward would be to parse with conllu, take the result into a graph database of some kind (neo4j?) and write graph queries against that database that correspond to what your are looking for. Does that make sense?

[2021-10-02 17:52] arademaker commented on #58
Maybe http://www.nltk.org/howto/dependency.html ?

[2021-10-02 18:40] EmilStenstrom commented on #58
@arademaker Thanks! But ConlluCorpusReader doesn't seem to be used directly in that case. I would guess that DependencyGraph somehow internally references ConlluCorpusReader, maybe hardcoded? In that case updating NLTK itself would be needed to get CoNNL-U working inside NLTK.

I'm open to working with the NLTK team to use the conllu library to improve support. Do we have a contact within that tea

[2021-10-25 20:26] arademaker opened #59 "how to cite"
How can we cite this library?

[2022-02-10 11:58] rahonalab opened #60 "TypeError: initial_value must be str or None, not Tag"
There are some issues with this type error, as it mistakes a token containing `<` or `>` as a tag. For instance, the Danish sentence:

Antag at a og b er to reelle tal og at `0<a<b`.

raises the TypeError.

Moreover, what about actual tags like `<p>` that can be found quoted in several texts?

[2022-02-16 16:43] harisont commented on #53
Hej! I used you library to write a script that converts between CoNNL-U Plus and plain CoNNL-U and noticed the same. Are you planning to fix this anytime soon? Otherwise I might give it a try if I have time.

[2022-02-16 17:53] EmilStenstrom commented on #53
@harisont I'm not planning to work on this any time soon, so happy to accept contributions! When working on this, try to keep backwards compatibility as much as possible!

[2022-02-17 13:53] #59 closed

[2022-02-17 13:54] #57 closed

[2022-02-17 13:56] EmilStenstrom commented on #60
Great catch, this is something we should fix. Are you able to write up a PR?

[2022-03-02 10:35] harisont opened #61 "Cannot parse CoNNL-U Plus fields after reading file content"
It seems that if I write:

[code]
`plus_fields` is equal to `None`, while if run `parse_conllu_plus_fields` _first_ and _then_ read the file everything works as expected.

[2022-03-06 07:12] EmilStenstrom commented on #61
@harisont This is how Python works. When you call read() on a file pointer, that pointer moves to the end of what you just read. So to conllu this file looks like it's empty. What happens if you add file.seek(0) after you read the file, but before you parse the plus fields?

Also, why do you need to parse the fields separate? Is there some feature that's missing from conllu that you need to build

[2022-03-06 07:12] #58 closed

[2022-03-06 07:37] EmilStenstrom commented on #60
@rahonalab Do you have some sample CoNLL-U that corresponds to this sentence I can test with?

[2022-03-07 08:51] harisont commented on #61
Sorry, you're completely right! I got too used to stateless reasoning :laughing:

[2022-03-07 08:51] #61 closed

[2022-03-17 19:48] jheinecke opened #62 "Multiword tokens"
Hi,

does the conllu package process MWT tokens, lke French _du_ which is a contraction of _de_ and _le_:

[code]

conllu seems to read them without error but the MWT tokens are not accessible (and `serialize()` omits them)

[2022-03-17 20:46] jheinecke commented on #62
OK, with `parse(data)` I see the MWTs, However I used `parse_tree(data)`, since I need the tree structure and there the MWTs are gone

[2022-04-28 19:06] hrishikeshrt opened #63 "BUG: Error when serializing metadata that is not a string"
[code]
I have written a metadata_parser that converts values to `int` which is used in my downstream tasks. However, the serializer then breaks. A simple fix can be achieved by using f-strings (which we should be using anyway, now that there is a python 3.6 requirement)

[2022-04-28 19:49] EmilStenstrom commented on #62
Sorry for the late reply. The tree structure are constructed from pointers from specific ID:s to other ID:s. Since MWT:s do not have one but many ID:s, where do you think they should reside in the tree?

[2022-04-29 12:59] jheinecke commented on #62
You could add them either to the first ID, or to all or just somewhere in the tree that they come out when calling `serialize()`?

[2022-04-30 06:20] EmilStenstrom commented on #62
I've thought this through, and I don't think MWT:s belong in the tree. They would require special handling both when parsing and when serializing, and would likely not fit what people where expecting.

Suggestion for how to handle this instead: Do two passes over each sentence. The first just to put each MWT in a dict by the index you want to look it up by (the first ID?). In the second pass, you

[2022-05-01 09:01] #63 closed

[2022-05-01 13:00] EmilStenstrom commented on #60
I finally got to looking at this. The first thing I did was to write a test of something that I didn't thought worked. But parsing seems to work just fine. Could you send over a test that fails so I can troubleshoot further?

[code]

[2022-05-01 14:12] rahonalab opened #65 "raised exception on invalid ID"
Hello,
I know this is a malformed line, but apparently new versions of Stanza produces this output:

[code]

which raises this exception:

[code]

Since I have to parse a lot of files, would it be possible to safely skip malformed lines instead of raising an exception i.e., terminating the script?

[2022-05-02 07:59] jheinecke commented on #62
Yes I do something similar: I use two structures, the simple parsing (with the MWTs) and from this I create the dependency tree, for serialisation I recombine  both (texxt and tokens from `parse()`, deprels and heads from `parse_tree()`

[2022-05-04 04:56] EmilStenstrom commented on #62
Seems like a reasonable workaround. I’ll close this for now.

[2022-05-04 04:56] #62 closed

[2022-06-06 16:29] #60 closed

[2022-07-07 16:32] Akshayanti opened #66 "Buggy rendering of tokenTree if Misc column is not a key-value pair"
According to UD data (v2.9, example language: Akkadian, treebank: RIAO) as reproduced below,

[code]

The misc column doesn't necessarily contains key-value pairs (For example, `SpaceAfter=No`). When the block is read as a TokenTree, and then re-serialised, it generates the following output. Notice the trailing `=` at the end:

[code]

The misc column should not be treated as a key-value pair, but

[2022-07-12 12:30] EmilStenstrom commented on #66
@Akshayanti Great find, this is a bug. Would you mind writing up a PR to fix it too?

[2022-07-12 15:37] EmilStenstrom commented on #66
Fixed by #67

[2022-07-12 20:40] EmilStenstrom commented on #53
After a lot more work than I anticipated, slicing a parsed document now retains metadata. I hope that this will more closely work like one would expect. Thanks for reporting, and feel free to raise issues if you feel things doesn't work like expected.

https://pypi.org/project/conllu/4.5/

[2022-07-12 20:40] #53 closed

[2022-07-13 11:52] helpmefindaname opened #68 "hidden breaking change in conllu 4.4.3 and 4.5.0"
Hi,

First, thank you for creating this awesome parser!

Users of the Flair library, have [an issue](https://github.com/flairNLP/flair/issues/2859) with the released versions from yesterday.
The issue is that `conllu.TokenList` cannot be imported anymore, but needs to change to `conllu.models.TokenList`.

As I suppose, that not only flair runs into the issue, I would suggest adding `from conllu.mo

[2022-07-13 17:05] EmilStenstrom commented on #68
Thank you for reporting this. I just released 4.5.1 which makes TokenList available as an import directly from conllu, and declares the public API via `__all__`. This should fix the flair issues if I understand things correctly?

[2022-07-13 20:34] helpmefindaname commented on #68
Thank you for the quick response and fix, now everything works as intended

[2022-07-13 20:34] #68 closed, assigned to nobody

[2022-07-27 16:50] EmilStenstrom commented on #65
It's right there in the docs! :) Does this make sense? https://github.com/EmilStenstrom/conllu#customizing-parsing-to-handle-strange-variations-of-conll-u=

[2022-07-28 17:12] rahonalab commented on #65
Thank you for the quick reply. I have tried to specify the field_parsers argument as per the docs, but it doesn't work with the parse_tree() function. Beside this, how do you handle this case with a split function?

[2022-07-28 19:30] EmilStenstrom commented on #65
No, if you're using parse_tree, this isn't going to work for you.

Ok, so thinking about this a bit more, I think this is a bug in this library. According to the spec ID:n can be rangers, and I just assumed that they had to cover at least two tokens, because why else would you even need a separate line?

So let's fix this, and make sure these lines are returned other range id's are returned: (73,

[2022-07-29 07:37] rahonalab commented on #65
thank you Emil, it's a good solution!
the strange thing is that most of the time these ranges are correctly parsed.
For instance, this raises an exception:

[code]

while this does not:

[code]
Probably it doesn't like that the numbers in the range are the same, what do you think?

[2022-07-29 07:55] EmilStenstrom commented on #65
Hi! Yes, the code intentionally didn't allow ranges with the same number as from and to.

Anyways. I've now released version 4.5.2 of conllu that allows these kinds of IDs. Could you try installing the latest version to see if this works for you?

[2022-07-29 08:25] rahonalab commented on #65
yes, it worked? could you please point out the code you have modified? just curious :-)

[2022-07-29 10:50] EmilStenstrom commented on #65
Here's a [diff of the changes](https://github.com/EmilStenstrom/conllu/commit/5db157da6e7cf11bff1b111efab23aae170f3280). In the code, it was literally one character! :)

[2022-07-29 10:50] #65 closed

[2022-08-06 16:15] Akshayanti opened #69 "Generating TokenList of a sentence containing multi-word tokens causes improper list comprehensions"
Consider the part of sentence:

[code]
The TokenList rendition of this sentence returns wrong values. For example:

`
for x in range(17, 21):
    print(sentence[x])
`
returns output
`
zur
zu
der
humanitären
`

thereby messing the control during the list comprehension

[2022-08-07 09:42] EmilStenstrom commented on #69
Hi! This is intended. Some people want to use the multi-word token instead of the individual tokens, and some want the opposite. This library does not choose, and instead just lets you decide which version you want.

An example of filtering away all the multi-word tokens is available in the docs: https://github.com/EmilStenstrom/conllu#new-in-conllu-43-filter-a-tokenlist-by-lambda

Does this make

[2022-08-13 12:20] Akshayanti commented on #69
that explains it, thank you! I will close the issue as not relevant.

[2022-08-13 12:20] #69 closed